extends ./layout.jade

block content

    h3 Homepage
    .container
        .jumbotron
    
            h2 Trying my hand at node.js app
            h3 Saving to hosted database
            h3 Using with jade