extends layout
block content
     .row
        .col-sm-1
            
        .col-sm-2
            h3 View product id passed #{product_id}!
        .col-sm-4
          .grid-container
            h3 #{product_id}