extends layout
block content
     .row
        .col-sm-1
            
        .col-sm-2
            h3 Displaying the contents of the logger.txt
        .col-sm-4
          .grid-container
            each row in logdata
              p #{row}