.main{
    min-height: 450px ;
    /* background-color: lavender; */
}
.myform{
    padding: 30px;
}
.pimage {
    width: 150px; 
    height: 100px;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}
.footer{
    margin-top: 15px;
}